# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# SQLite / Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Streamlit
.streamlit/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
